<br>
<h5 class="card-title">Diligenciar información del cliente</h5>
<h6 class="card-subtitle mb-2 text-muted">Por favor ingrese la información para crear un cliente</h6>
<br>
<form [formGroup]="clienteForm" (ngSubmit)="crear()" novalidate class="needs-validation">
  <div class="row mb-3">
    <label for="inputnombre" class="col-sm-2 col-form-label">Nombre</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="inputnombre" formControlName="nombre" required>
      <div class="valid-feedback">
        Campo correcto
      </div>
      <div class="invalid-feedback">
        Complete el campo
      </div>
    </div>
  </div>
  <div class="row mb-3">
    <label for="inputPassword3" class="col-sm-2 col-form-label" required>Cédula</label>
    <div class="col-sm-4">
      <input type="number" class="form-control" id="inputPassword3" formControlName="cedula">
    </div>
    <div class="valid-feedback">
      Campo correcto
    </div>
    <div class="invalid-feedback">
      Complete el campo
    </div>
  </div>

  <button type="submit" class="btn btn-primary">Crear cliente</button>
</form>

<!-- Modal -->
<div>
  
</div>
<div class="modal fade" id="staticBackdrop" *ngIf= "respuestaCreacionCliente" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Cliente creado correctamente</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="alert alert-info" role="alert">
          Cliente creado con extito
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Entendido</button>
      </div>
    </div>
  </div>
</div>
