<br>
<h5 class="card-title">Diligenciar información de la deuda</h5>
<h6 class="card-subtitle mb-2 text-muted">Por favor ingrese la información para crear una deuda</h6>
<br>
<form class="row g-3 mx-auto" [formGroup]="deudaForm" (ngSubmit)="crear()" novalidate class="needs-validation">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="row mb-3">
          <label for="inputnombreentidad" class="col-sm-3 col-form-label">Nombre entidad</label>
          <div class="col-sm-9">
            <input type="text" formControlName="nombreEntidad" class="form-control" id="inputnombreentidad"
              placeholder="Ingrese el nombre de la entidad de la deuda">
          </div>
        </div>
        <div class="row mb-3">
          <label for="inputconceptodeuda" class="col-sm-3 col-form-label">Concepto deuda</label>
          <div class="col-sm-9">
            <input type="text" formControlName="conceptoDeuda" class="form-control" id="inputconceptodeuda"
              placeholder="Ingrese el concepto de la deuda">
          </div>
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text">Ingrese el monto de la deuda $</span>
          <input type="text" formControlName="montoDeuda" class="form-control"
            aria-label="Ingrese el monto de la deuda">
          <span class="input-group-text">.00</span>
        </div>
        <div class="col-12">
          <button type="submit" class="btn btn-primary">Registrar Deuda</button>
        </div>
      </div>
      <!--Division formulario-->
      <div class="col">
        <div class="form-group row mb-2">
          <label for="example-datetime-local-input" class="col-3 col-form-label">Fecha deuda</label>
          <div class="col-9">
            <input class="form-control" formControlName="fechaDeuda" type="datetime-local" value="2011-08-19T13:45:00"
              id="example-datetime-local-input">
          </div>
        </div>
        <div class="row mb-3">
          <label for="inputState" class="col-sm-3 col-form-label">Cliente</label>
          <div class="col-sm-9">
            <select id="inputState" class="form-select" formControlName="clienteDeuda">
              <option *ngFor="let item of listaCliente">{{item.nombre}}-{{item.cedula}}</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Cliente creado correctamente</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="alert alert-info" role="alert">
          Cliente creado con extito
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Entendido</button>
      </div>
    </div>
  </div>
</div>